<include file="public/header"/>
</head>
<body>
<div class="wrap" style="height: 300px;">
    <form  class="form-horizontal js-ajax-form margin-top-20" id="add" action="">
        <div class="form-group">
            <label for="input-score" class="col-sm-2 control-label"></label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" id="input-score" name="" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="id" value="">
                <button type="btn_submit" id='btn_submit' name='btn_submit' class="btn btn-primary js-ajax-submit">{:lang('SAVE')}</button>
            </div>
        </div>
    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
<script>

	$('#btn_submit').on("click",function(){
	
	
	
	    var datastr=$("#add").serialize();
	    console.log(datastr);
	    var url="{:url('/admin/liyi/addpost')}";
	    
	    $.ajax({
  type: 'POST',
  url: url,
  data: datastr,
  cache:false,
  complete:function(data,status)
  {
    
      var res=JSON.parse(data.responseText);
      if(res) layer.msg(res.msg);
	   	
  },
 
  dataType: "json"
});
	    
	  

		return false;
	});
</script>

</body>
</html>