<include file="public/header"/>
<style>
    select option {

        padding-left: 8px;

    }
</style>
</head>
<body>
<div class="wrap js-check-wrap">
    <P>当前模块/控制器/操作名：{$modulename}/{$controllername}/{$actionname |default='index'}</p>
    <p id="createmsg"></p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <td>数据表</td>
            <td>可选字段</td>
            <td>操作</td>
            <td>被选字段</td>
            <td>复合查询字段</td>
            <td>生成操作</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <select id="sel_tables" name="sel_tables" class="select" size="10" style="width:160px;">
                    <volist name="mytables" id="vo">
                        <option value="11">
                            {$vo.key}

                        </option>
                    </volist>

                </select>
            </td>
            <td>
                <select id="sel1" name="sel1" class="select" size="10" style="width:160px;">

                </select>
            </td>
            <td width='50'>
                <p><input type="button" id="btn_toright" class="s1" value="->"></p>
                <p><input type="button" id="btn_toright_all" class="s1" value="->>"></p>
                <p><input type="button" id="btn_toleft" class="s1" value="<-"></p>
                <p><input type="button" id="btn_toleft_all" class="s1" value="<<-"></p>
            </td>
            <td>
                <select id="sel2" name="sel2" size="10" style="width:160px;">

                </select>

            </td>
            <td>
                搜索关健字:
                <p><input type="text" name="keyword" id="keyword" class="s1" value=""/></p>
                排序字段
                <p><input type="text" name="sord" id="sord" class="s1" value=""/></p>
            </td>

            <td>
                <div class="checkbox" style="height:10px;line-height:10px;">
                    <label>
                        <input type="checkbox" id="ipt_delDir" name="ipt_delDir" false/> 删除目录
                    </label>
                </div>
                <button type="button" id="btn_pageList" class="btn btn-primary" style="margin-top:12px;">创建页面
                </button>


            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered" style="">
        <thead>
        <tr>
            <td>字段名</td>
            <td>主健</td>
            <td>类型</td>
            <td>可空</td>
            <td>说明</td>
            <td>字符集</td>
            <td>缺省值</td>
            <td>额外的</td>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
    <form class="form-inline">

        <div class="form-group">

            <p class="form-control-static">表名</p>
            <input type="text" class="form-control"  name="tablename" id="tablename" placeholder="表名不要带前缀">
        </div>

        <button class="btn btn-primary" id="btn_CreateTable"  type="button">创建表</button>
        <button class="btn btn-primary" type="button" id="btn_AddFields" >添加字段</button>
    </form>

    <div id="div1" style="margin-top: 8px;">
        <table id="table_dbfields" class="table table-bordered">

            <tbody>
            </tbody>
        </table>
        <table id="table_dbbackup" class="table table-bordered" style="display: none">
            <thead>
            <tr>
                <td>Name</td>
                <td>Index</td>
                <td>Type/Length/Values</td>
                <td>Default</td>
                <td>Attributes</td>
                <td>Null</td>


                <th><abbr title="AUTO_INCREMENT">A_I</abbr></th>
                <th>Comments</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            <tr class="odd">
                <td class="center"><input type="text" value=""/></td>
                <td class="center"><select name="field_key[0]" id="field_0_7" data-index="">
                    <option value="none_0">---</option>
                    <option value="primary_0" title="Primary">PRIMARY</option>
                    <option value="unique_0" title="Unique">UNIQUE</option>
                    <option value="index_0" title="Index">INDEX</option>
                    <option value="fulltext_0" title="Fulltext">FULLTEXT</option>
                    <option value="spatial_0" title="Spatial">SPATIAL</option>
                </select></td>
                <td class="center"><select class="column_type" name="field_type[0]" id="field_0_2">
                    <option title="A 4-byte integer, signed range is -2,147,483,648 to 2,147,483,647, unsigned range is 0 to 4,294,967,295">
                        INT
                    </option>
                    <option title="A variable-length (0-65,535) string, the effective maximum length is subject to the maximum row size">
                        VARCHAR
                    </option>
                    <option title="A TEXT column with a maximum length of 65,535 (2^16 - 1) characters, stored with a two-byte prefix indicating the length of the value in bytes">
                        TEXT
                    </option>
                    <option title="A date, supported range is 1000-01-01 to 9999-12-31">DATE</option>
                    <optgroup label="Numeric">
                        <option title="A 1-byte integer, signed range is -128 to 127, unsigned range is 0 to 255">
                            TINYINT
                        </option>
                        <option title="A 2-byte integer, signed range is -32,768 to 32,767, unsigned range is 0 to 65,535">
                            SMALLINT
                        </option>
                        <option title="A 3-byte integer, signed range is -8,388,608 to 8,388,607, unsigned range is 0 to 16,777,215">
                            MEDIUMINT
                        </option>
                        <option title="A 4-byte integer, signed range is -2,147,483,648 to 2,147,483,647, unsigned range is 0 to 4,294,967,295">
                            INT
                        </option>
                        <option title="An 8-byte integer, signed range is -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807, unsigned range is 0 to 18,446,744,073,709,551,615">
                            BIGINT
                        </option>
                        <option disabled="disabled">-</option>
                        <option title="A fixed-point number (M, D) - the maximum number of digits (M) is 65 (default 10), the maximum number of decimals (D) is 30 (default 0)">
                            DECIMAL
                        </option>
                        <option title="A small floating-point number, allowable values are -3.402823466E+38 to -1.175494351E-38, 0, and 1.175494351E-38 to 3.402823466E+38">
                            FLOAT
                        </option>
                        <option title="A double-precision floating-point number, allowable values are -1.7976931348623157E+308 to -2.2250738585072014E-308, 0, and 2.2250738585072014E-308 to 1.7976931348623157E+308">
                            DOUBLE
                        </option>
                        <option title="Synonym for DOUBLE (exception: in REAL_AS_FLOAT SQL mode it is a synonym for FLOAT)">
                            REAL
                        </option>
                        <option disabled="disabled">-</option>
                        <option title="A bit-field type (M), storing M of bits per value (default is 1, maximum is 64)">
                            BIT
                        </option>
                        <option title="A synonym for TINYINT(1), a value of zero is considered false, nonzero values are considered true">
                            BOOLEAN
                        </option>
                        <option title="An alias for BIGINT UNSIGNED NOT NULL AUTO_INCREMENT UNIQUE">SERIAL</option>
                    </optgroup>
                    <optgroup label="Date and time">
                        <option title="A date, supported range is 1000-01-01 to 9999-12-31">DATE</option>
                        <option title="A date and time combination, supported range is 1000-01-01 00:00:00 to 9999-12-31 23:59:59">
                            DATETIME
                        </option>
                        <option title="A timestamp, range is 1970-01-01 00:00:01 UTC to 2038-01-09 03:14:07 UTC, stored as the number of seconds since the epoch (1970-01-01 00:00:00 UTC)">
                            TIMESTAMP
                        </option>
                        <option title="A time, range is -838:59:59 to 838:59:59">TIME</option>
                        <option title="A year in four-digit (4, default) or two-digit (2) format, the allowable values are 70 (1970) to 69 (2069) or 1901 to 2155 and 0000">
                            YEAR
                        </option>
                    </optgroup>
                    <optgroup label="String">
                        <option title="A fixed-length (0-255, default 1) string that is always right-padded with spaces to the specified length when stored">
                            CHAR
                        </option>
                        <option title="A variable-length (0-65,535) string, the effective maximum length is subject to the maximum row size">
                            VARCHAR
                        </option>
                        <option disabled="disabled">-</option>
                        <option title="A TEXT column with a maximum length of 255 (2^8 - 1) characters, stored with a one-byte prefix indicating the length of the value in bytes">
                            TINYTEXT
                        </option>
                        <option title="A TEXT column with a maximum length of 65,535 (2^16 - 1) characters, stored with a two-byte prefix indicating the length of the value in bytes">
                            TEXT
                        </option>
                        <option title="A TEXT column with a maximum length of 16,777,215 (2^24 - 1) characters, stored with a three-byte prefix indicating the length of the value in bytes">
                            MEDIUMTEXT
                        </option>
                        <option title="A TEXT column with a maximum length of 4,294,967,295 or 4GiB (2^32 - 1) characters, stored with a four-byte prefix indicating the length of the value in bytes">
                            LONGTEXT
                        </option>
                        <option disabled="disabled">-</option>
                        <option title="Similar to the CHAR type, but stores binary byte strings rather than non-binary character strings">
                            BINARY
                        </option>
                        <option title="Similar to the VARCHAR type, but stores binary byte strings rather than non-binary character strings">
                            VARBINARY
                        </option>
                        <option disabled="disabled">-</option>
                        <option title="A BLOB column with a maximum length of 255 (2^8 - 1) bytes, stored with a one-byte prefix indicating the length of the value">
                            TINYBLOB
                        </option>
                        <option title="A BLOB column with a maximum length of 16,777,215 (2^24 - 1) bytes, stored with a three-byte prefix indicating the length of the value">
                            MEDIUMBLOB
                        </option>
                        <option title="A BLOB column with a maximum length of 65,535 (2^16 - 1) bytes, stored with a two-byte prefix indicating the length of the value">
                            BLOB
                        </option>
                        <option title="A BLOB column with a maximum length of 4,294,967,295 or 4GiB (2^32 - 1) bytes, stored with a four-byte prefix indicating the length of the value">
                            LONGBLOB
                        </option>
                        <option disabled="disabled">-</option>
                        <option title="An enumeration, chosen from the list of up to 65,535 values or the special '' error value">
                            ENUM
                        </option>
                        <option title="A single value chosen from a set of up to 64 members">SET</option>
                    </optgroup>
                    <optgroup label="Spatial">
                        <option title="A type that can store a geometry of any type">GEOMETRY</option>
                        <option title="A point in 2-dimensional space">POINT</option>
                        <option title="A curve with linear interpolation between points">LINESTRING</option>
                        <option title="A polygon">POLYGON</option>
                        <option title="A collection of points">MULTIPOINT</option>
                        <option title="A collection of curves with linear interpolation between points">
                            MULTILINESTRING
                        </option>
                        <option title="A collection of polygons">MULTIPOLYGON</option>
                        <option title="A collection of geometry objects of any type">GEOMETRYCOLLECTION</option>
                    </optgroup>
                </select><input type="text" value=""/></td>

                <td class="center"><select name="field_default_type[0]" id="field_0_4" class="default_type">
                    <option value="NONE">None</option>
                    <option value="USER_DEFINED"></option>
                    <option value="NULL">NULL</option>
                    <option value="CURRENT_TIMESTAMP">CURRENT_TIMESTAMP</option>
                </select>
                    <br><input type="text" name="field_default_value[0]" size="12" value=""
                               class="textfield default_value" style="display: none;"></td>

                <td class="center"><select style="width: 7em;" name="field_attribute[0]" id="field_0_5">
                    <option value="" selected="selected"></option>
                    <option value="BINARY">BINARY</option>
                    <option value="UNSIGNED">UNSIGNED</option>
                    <option value="UNSIGNED ZEROFILL">UNSIGNED ZEROFILL</option>
                    <option value="on update CURRENT_TIMESTAMP">on update CURRENT_TIMESTAMP</option>
                </select></td>
                <td class="center"><input name="field_null[0]" id="field_0_6" type="checkbox" value="0"
                                          class="allow_null"/></td>

                <td class="center"><input name="field_extra[0]" id="field_0_8" type="checkbox" value="0"/></td>
                <td class="center">
                    <textarea rows="3" style="height: 30px; width: 150px;"></textarea>
                  </td>
                <td class="center"><input id="btn_op" type="button" name="btn_op" value="移除"
                                          onclick="$(this).parent().parent().remove()" class="textfield"/></td>

            </tr>
            </tbody>
        </table>
    </div>


</div>
</body>
<script>
    //指定各列标头的td所在tr中的具体位置索引，从0开头
    let fIndex = Array();
    fIndex["Field"] = 0;//字段名
    fIndex["Index"] = 1;//索引
    fIndex["Type"] = 2;//类型
    fIndex["Default"] = 3;//缺省值
    fIndex["Attributes"] = 4;//属性
    fIndex["Null"] = 5;//是否空值
    fIndex["ai"] = 6;//是否auto_inc自动增长列
    fIndex["Comment"] = 7;//注释
    $(function () {
        //ajax全局设置
        $.ajaxSetup({cache: false});


        //ajax获取表的所有字段信息
        $('#sel_tables').change(function () {
            let v = $("#sel_tables").find("option:selected").text();
            v = $.trim(v);
            $("#sord").val("");
            $("#keyword").val("");
            $.post("{:url('/admin/liyi/getfields')}", {tablename: $.trim(v)}, function (result, b) {
                let incArr = [];
                let timeArr = [];

                let nameArr = [];
                $("#sel1").empty();
                $("#sel2").empty();

                if (b == 'success') {


                    let html = "";
                    let elem;
                    let tmpval, tmpval_t;
                    let $tb = $("#table_dbfields");
                    $tb.html("<thead></thead><tbody></tbody>");
                    let $tb_backup = $("#table_dbbackup");
                    let tr = $tb_backup.find("thead tr").eq(0).clone(true);
                    tr.appendTo("#table_dbfields thead");
                    let tbody_tr0;
                    for (let i = 0; i < result.length; i++) {

                        //1.给字段名赋值
                        tbody_tr0 = $tb_backup.find("tbody tr").eq(0).clone();
                        tbody_tr0.find("td").eq(fIndex["Field"]).find("input")[0].setAttribute("value", result[i]['Field']);
                        //2.给数据类型赋值
                        var selElem = tbody_tr0.find("td").eq(fIndex["Type"]).find("select").eq(0);
                        var selElem2 = tbody_tr0.find("td").eq(fIndex["Type"]).find("select")[0];
                        var typ = result[i]['Type'].split('(')[0];
                        selElem.find("option").each(function (index, ele) {

                                var txt = $(this).text();
                                if (txt && txt.toLowerCase().indexOf(typ.toLowerCase()) != -1) {

                                    selElem.val($(this).val());

                                    return false
                                }
                            }
                        );
                        //3.给数据类型长度赋值
                        if (result[i]['Type'].split('(').length > 1) {
                            var valtmp = result[i]['Type'].split('(')[1].split(')')[0];
                            var typelenEle = tbody_tr0.find("td").eq(fIndex["Type"]).find("input").eq(0);
                            typelenEle.val(valtmp);
                        }

                        //4.给索引赋值
                        selElem = tbody_tr0.find("td").eq(fIndex["Index"]).find("select").eq(0);
                        tmpval = result[i]['Key'];
                        if (tmpval != null && tmpval.length > 0) {
                            selElem.find("option").each(function (index, ele) {

                                    var txt = $(this).text();
                                    if (txt && txt.toLowerCase().indexOf(tmpval.toLowerCase()) != -1) {
                                        selElem.val($(this).val());
                                        return false
                                    }
                                }
                            );

                            if (selElem.val().toLowerCase().indexOf(tmpval.toLowerCase()) == -1) {
                                selElem.append("<option value=\"" + tmpval + "_0\" title=\"" + tmpval + "\">" + tmpval + "</option>");
                                selElem.val(tmpval + "_0");

                            }
                        }

                        //5.给缺省值赋值
                        selElem = tbody_tr0.find("td").eq(fIndex["Default"]).find("select").eq(0);
                        tmpval = result[i]['Default'];
                        if (tmpval != null && tmpval.length > 0) {
                            selElem.find("option").each(function (index, ele) {

                                    var txt = $(this).text();
                                    if (txt && txt.toLowerCase().indexOf(tmpval.toLowerCase()) != -1) {
                                        selElem.val($(this).val());
                                        return false
                                    }
                                }
                            );

                            if (selElem.val().toLowerCase().indexOf(tmpval.toLowerCase()) == -1) {
                                selElem.append("<option value=\"" + tmpval + "\" title=\"" + tmpval + "\">" + tmpval + "</option>");
                                selElem.val(tmpval);

                            }
                        }


                        //6.给属性值赋值
                        selElem = tbody_tr0.find("td").eq(fIndex["Attributes"]).find("select").eq(0);
                        tmpval = result[i]['Type'];
                        tmpval_t = tmpval.split(' ');
                        if (tmpval_t.length > 1) {
                            tmpval = $.trim(tmpval_t[1]);
                            if (tmpval != null && tmpval.length > 0) {
                                selElem.find("option").each(function (index, ele) {

                                        var txt = $(this).text();
                                        if (txt && txt.toLowerCase().indexOf(tmpval.toLowerCase()) != -1) {
                                            selElem.val($(this).val());
                                            return false
                                        }
                                    }
                                );

                                if (selElem.val().toLowerCase().indexOf(tmpval.toLowerCase()) == -1) {
                                    selElem.append("<option value=\"" + tmpval + "\" title=\"" + tmpval + "\">" + tmpval + "</option>");
                                    selElem.val(tmpval);

                                }
                            }
                        }

                        //7.是否可空赋值
                        selElem = tbody_tr0.find("td").eq(fIndex["Null"]).find("input[type=checkbox]").eq(0);

                        tmpval = result[i]['Null'];
                        if (tmpval == "YES") {
                            selElem.attr("checked", "checked");
                            selElem.attr("value", "1");
                        }

                        //8.是否自动增长赋值
                        selElem = tbody_tr0.find("td").eq(fIndex["ai"]).find("input[type=checkbox]").eq(0);
                        tmpval = result[i]['Extra'];
                        if (tmpval != null && tmpval.toLowerCase().indexOf("increment") != -1) {
                            selElem.attr("checked", "checked");
                            selElem.attr("value", "1");
                        }
                        //9.给注释赋值
                        selElem = tbody_tr0.find("td").eq(fIndex["Comment"]).find("textarea").eq(0);
                        tmpval = result[i]['Comment'];
                        //console.log(tmpval)
                        if (tmpval != null) {
                            selElem.val(tmpval);
                        }

                        //.val(result[i]['Field']);
                        var incstr = result[i]['Extra'];
                        var timestr = result[i]['Field'];
                        var namestr = result[i]['Field'];

                        if (incstr != null && incstr.toLowerCase().indexOf("increment") != -1) {
                            incArr.push(result[i]['Field']);

                        }

                        if (timestr != null && (timestr.toLowerCase().indexOf("time") != -1 || timestr.toLowerCase().indexOf("date") != -1)) {
                            timeArr.push(result[i]['Field']);
                        }
                        if (namestr != null && namestr.toLowerCase().indexOf("name") != -1) {

                            nameArr.push(result[i]['Field']);
                        }
                        if (namestr != null && namestr.toLowerCase().indexOf("title") != -1) {

                            nameArr.push(result[i]['Field']);
                        }
                        if (namestr != null && namestr.toLowerCase().indexOf("email") != -1) {

                            nameArr.push(result[i]['Field']);
                        }
                        if (namestr != null && namestr.toLowerCase().indexOf("mob") != -1) {

                            nameArr.push(result[i]['Field']);
                        }

                        html += "<tr><td>" + result[i]['Field'] + "</td><td>" + result[i]['Key'] + "</td><td>" + result[i]['Type'] + "</td><td>" + result[i]['Null'] + "</td><td>" + result[i]['Comment'] + "</td><td>" + result[i]['Collation'] + "</td><td>" + result[i]['Default'] + "</td><td>" + result[i]['Extra'] + "</td></tr>";

                        $("#sel1").append("<option value='" + result[i]['Field'] + "'>" + result[i]['Field'] + "</option>");
                        tbody_tr0.appendTo("#table_dbfields tbody");
                    }


                    $("#tbody").html(html);

                    // $("#table_dbfields").trigger("create");
                    if (timeArr.length > 0) {
                        $("#sord").val(timeArr.shift());
                    } else if (incArr.length > 0)
                        if ($("#sord").val().length == 0) {
                            $("#sord").val(incArr.shift());
                        }


                    if (nameArr.length > 0) {
                        $("#keyword").val(nameArr.join(','));
                    }
                    if ($("#sord").val().length == 0) {
                        if ($("#sel1 option[value='id'] , #sel1 option[value='ID").length > 0) {
                            $("#sord").val("id");

                        }
                    }
                    if ($("#keyword").val().length == 0) {
                        $("#keyword").val($("#sel1 option").eq(1).val());

                    }
                }
            });


        })
        //向右移一个字段
        $("#btn_toright").click(function () {

            $obj = $("#sel1 option:selected").clone(true);
            if ($obj.size() == 0) {
                layer.msg("请至少选择一条!");
            }
            $("#sel2").append($obj);
            $("#sel1 option:selected").remove()
        });
        //向右移动所有字段
        $("#btn_toright_all").click(function () {

            $("#sel2").append($("#sel1 option"))
        });
        //向左移一个字段
        $("#btn_toleft").click(function () {
            $obj = $("#sel2 option:selected").clone(true);
            if ($obj.size() == 0) {

                layer.msg("请至少选择一条!");

            }
            $("#sel1").append($obj);
            $("#sel2 option:selected").remove()
        });
        //向左移动所有字段
        $("#btn_toleft_all").click(function () {

            $("#sel1").append($("#sel2 option"))
        });

        //显示选中的字段名称
        $("#sel1,#sel2").click(function () {
            var b = $(this).attr("id");
            $("#tbody tr.active").removeClass("active");
            var text = $(this).find("option:selected").text();
            layer.msg(text);

            $("#tbody tr").each(function () {

                if ($(this).find("td:eq(0)").text() == text) {

                    $(this).addClass("active");
                }
            });


        });

        //双击,由sel1字段右移到sel2，或由sel2的字段左移到sel1
        $("#sel1,#sel2").dblclick(function () {
            var b = $(this).attr("id");

            if (b == "sel1") {
                var $obj = $("#sel1 option:selected").clone(true);

                $("#sel2").append($obj);
                $("#sel1 option:selected").remove();
            } else if (b == 'sel2') {
                var $obj = $("#sel2 option:selected").clone(true);

                $("#sel1").append($obj);
                $("#sel2 option:selected").remove();
            }
        });

        //add.html页面生成操作
        $("#btn_pageAdd").click(function () {
            $obj = $("#sel2 option");
            if ($obj.size() == 0) {

                layer.msg("请至少选择一条!");
            }
            var _param = "";
            $("#sel2 option").each(function () {

                _param += $(this).val() + "@@@";
            });

            var tbname = $("#sel_tables  option:selected").text();

            $.post("{:url('admin/liyi/buildAddPage')}", {
                app: '{$modulename}',
                controller: '{$controllername}',
                action: '{$actionname}',
                tbname: $.trim(tbname),
                deldir: $("#ipt_delDir").val(),
                fields: $.trim(_param)
            }, function (result, b) {

                if (b == 'success') {
                    layer.msg(result.msg);
                    setTimeout(function () {

                        location.href = result.url;
                    }, 2000);
                } else {
                    layer.msg(result.msg);
                }
            });
        });


        //创建页面按钮事件
        $("#btn_pageList").click(function () {
            $obj = $("#sel2 option");
            if ($obj.size() == 0) {

                layer.msg("请至少选择一条!");
            }
            var _param = "";
            $("#sel2 option").each(function () {

                _param += $(this).val() + "@@@";
            });
            _param = $.trim(_param);
            var _tbname = $.trim($("#sel_tables  option:selected").text());
            var _keyword = $.trim($("#keyword").val());
            var _sord = $.trim($("#sord").val())

            if (_param == null || _param == undefined || _param == "") {
                layer.msg("请选择表和字段");
            }
            if (_keyword == null || _keyword == undefined || _keyword == "" || _keyword == null || _keyword == undefined || _keyword == "") {
                layer.msg("请输入查询字段和关健字");
            }
            $.post("{:url('admin/liyi/buildPage')}", {
                app: '{$modulename}',
                controller: '{$controllername}',
                action: '{$actionname}',
                tbname: _tbname,
                fields: _param,
                deldir:$("#ipt_delDir").val(),
                keyword: _keyword,
                sord: _sord,
            }, function (result, b) {

                if (b == 'success') {
                    $("#createmsg").html(result.msg);
                    layer.msg(result.msg);
                    setTimeout(function () {

                        location.href = result.url;
                    }, 2000);
                } else {
                    layer.msg(result.msg);
                }
            });
        });

        //处理appendto后checkbox无效的事件
        $("table").on('click', "input[type=checkbox]", function () {

            if ($(this).is(":checked") == true) {
                $(this).val("1");

            } else {
                $(this).val("0");
            }
        });

        $("#btn_AddFields").click(function () {

            let tr = $("#table_dbbackup").find("tbody tr").eq(0).clone(true);
            tr.appendTo("#table_dbfields tbody");

        });

        //创建数据库的表
        $(document).on("click", "#btn_CreateTable", function () {

            let tbfields = $("#table_dbfields");
            let trs = tbfields.find("tbody tr");
            let html = "";//普通字段
            let htmlIndex = "";//需索引的字段
            let htmlINC = "";//需自动增长的字段
            let tmpval = "";


            trs.each(function (index, data) {

                var $trs = $(trs[index]);
                //模板: `user_type` tinyint(3) UNSIGNED NOT NULL DEFAULT '1' COMMENT '用户类型;1:admin;2:会员',
                //获取Name
                html += '`' + $trs.find("td").eq(fIndex["Field"]).find("input").val() + '` ';
                //获取类型及大小
                html += $trs.find("td").eq(fIndex["Type"]).find("select").val();
                tmpval = $trs.find("td").eq(fIndex["Type"]).find("input").val();
                if (tmpval != null && tmpval != "") {
                    html += "(" + tmpval + ") ";
                }

                //属性值,暂时不考虑该值
                //html += $trs.find("td").eq(fIndex["Attributes"]).find("select").val()+" ";


                //是否可以为空值
                tmpval = $trs.find("td").eq(fIndex["Null"]).find("input[type=checkbox]");

                if (tmpval.val() != "1") {
                    html += " NOT NULL ";
                }
                //是否自动增长
                tmpval = $trs.find("td").eq(fIndex["ai"]).find("input[type=checkbox]").eq(0);
                if (tmpval.val() == "1") {
                    html += " auto_increment ";
                    htmlINC += $trs.find("td input").eq(0).val() + "| ";

                }
                //缺省值
                tmpval = $trs.find("td").eq(fIndex["Default"]).find("select").val();
                if (tmpval != null && $.trim(tmpval).length > 0) {
                    if (tmpval == "NONE" || tmpval == "NULL") {

                    } else {
                        html += " DEFAULT '" + tmpval + "' ";
                    }
                }
                //注释
                tmpval = $trs.find("td").eq(fIndex["Comment"]).find("textarea").val();
                if (tmpval != null && $.trim(tmpval).length > 0) {
                    html += " COMMENT '" + tmpval + "' ";
                }


                //是否建立索引，暂时屏蔽不考虑索引
                /*tmpval =$trs.find("td").eq(fIndex["Index"]).find("select").eq(0);
                if(tmpval.val() !="none_0"){
                    debugger;
                    var tmp=$trs.find("td input").eq(0).val();
                    if(htmlINC.indexOf(tmp+"|") == -1)
                    {
                        htmlIndex += $trs.find("td input").eq(0).val()+"|"+tmpval.val().split("_")[0]+"@@";
                    }

                }*/
                html += ",\t\r"


            });

            let aa = htmlIndex;
            let cc = htmlINC;
            let bb = $.trim(html);
            var _tbname = $.trim($("#tablename").val());


            $.post("{:url('admin/liyi/createTable')}", {
                tbname: $.trim(_tbname),
                fields: $.trim(html),
                fieldsinc: htmlINC,
                fieldsindex: htmlIndex
            }, function (result, b) {

                if (b == 'success') {
                    layer.msg(result.msg);
                    setTimeout(function () {

                        location.href = result.url;
                    }, 2000);
                } else {
                    layer.msg(result.msg);
                }
            });

        });


    });
</script>
</html>
              